<%= form_for(@animation) do |f| %>
  <% if @animation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animation.errors.count, "error") %> prohibited this animation from being saved:</h2>

      <ul>
      <% @animation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
